body {
    background: url("bg.jpeg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
}

img {
    border-radius: 50%;
}

.header {
    padding: 60px;
    text-align: center;
    background: none;
    color: white;
    font-size: 30px;
}

.content {
    padding: 20px;
}

.font {
    font-size:20px; 
    font-family: "Barlow";
    text-align:center;
    color: #ADFF2F;
}

* {
    box-sizing: border-box;
}

.box {
    float: left;
    margin: 0;
    width: 25%;
    padding: 30px;
    opacity: 0.8;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-shadow: 3px 2px #FF4500;
    color: #DAA520;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #A52A2A;
    color: #F0E68C;
    text-align: center;
    border-radius: 8 px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.clearfix::after {
    content: " ";
    clear: both;
    display: table;
}


ul.daftar {
    list-style-type:circle;
}

.footer {
    background: none;
    padding: 8px;
    text-align: center;
    color:#98FB98;	
}

.fa {
    padding: 20px;
    font-size: 100px;
    text-align: center;
    width: 50px;
    margin: 10px 20px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0,8;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #B22222;
    color: white;
}